.instafeed {
  max-width: 117rem;
  margin: 6rem auto;
  &__title {
    @include font(3.2rem, bold);
    text-align: center;
    margin-bottom: 3rem;
  }
  &__images {
    @include flex($direction: column);
    align-content: center;
    flex-wrap: wrap;
    height: 65rem;
    overflow: hidden;
    .hook {
      width: 3.6rem;
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }
  &__image {
    position: relative;
    width: 25%;
    &__core-image {
      max-width: 100%;
      height: auto;
      transform: scale(1.06);
    }
  }
}
.newsletter {
  margin: 0 auto 4.5rem;
  text-align: center;
  width: 50%;
  &__title {
    @include font(3.2rem, bold);
    text-decoration: underline;
  }
  &__desc {
    @include font($size: 1.6rem, $line-height: 2.4rem);
    color: $grey;
    margin: 3.2rem 0 2rem;
    padding: 0 12rem;
  }
  &__input-box {
    @include font(1.4rem);
    border: none;
    background-color: $background-shade-dark;
    color: $grey;
    padding: 2.1rem;
    width: 48%;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 2.2rem 3.5rem;
    background-color: $tia-maria;
    border-radius: 3px;
    border: 0.1rem solid $tia-maria;
    color: $white;
  }
}
