.latestblogs {
  background-color: $white;
  box-shadow: 0 0 2rem 0.6rem $shadow-color;
  position: relative;
  z-index: 2;
  padding-bottom: 3.7rem;
  &__title {
    @include flex(space-between);
    &-btn {
      margin: 5.5rem 7rem 0 0;
    }
    &__text {
      @include font(3.2rem, bold);
      margin: 5.5rem 0 0 7rem;
    }
  }
  &__blog {
    @include flex();
    margin-top: 3.5rem;
  }
  &__show-more {
    margin: 3.5rem 0 0 0;
    @include flex(center, center);
    &::before,
    &::after {
      margin: 2rem;
      content: "";
      width: 0.2rem;
      height: 2.5rem;
      background: $shadow-color;
    }
  }
  &__timeline {
    width: 50%;
    @include flex(center, flex-start, column);
    @include font(1.5rem, 0, 0, 2.5rem);
    color: $grey;
    border-left: 1px solid $shadow-color;
    margin: 5rem 0 1rem;
    height: 10rem;
    padding-left: 1rem;
  }
  &__image {
    @include flex(flex-end);
    padding-left: 5rem;
    position: relative;
    width: 50%;
    &-tag {
      @include flex(center, center, column);
      position: absolute;
      top: 1rem;
      right: 2rem;
      width: 2.5rem;
      height: 3rem;
      background-color: $tia-maria;
      color: $white;
      border-bottom-left-radius: 1rem;
    }
  }
}
.latestblogs__post {
  width: 100%;
  padding-right: 1rem;
  &__heading {
    @include font(2.4rem, bold);
    @include line-clamp(1);
    margin: 2.1rem 0 0 2rem;
  }
  &__details {
    @include font(1.6rem, 0, 0, 2rem);
    @include line-clamp(2);
    color: $grey;
    margin: 2.1rem 0 0 2rem;
  }
  &-btn {
    text-align: right;
    margin: 1.5rem 0 0 0;
  }
}
