.btn {
  font-size: 1.44rem;
  border-radius: 0.3rem;
  border: 0.1rem solid $tia-maria;
  &--primary {
    background-color: $tia-maria;
    color: $white;
    &:hover,
    &:focus {
      background-color: $white;
      color: $tia-maria;
    }
  }
  &--invert {
    background-color: $white;
    color: $tia-maria;
    &:hover,
    &:focus {
      background-color: $tia-maria;
      color: $white;
    }
  }
  &--arrow {
    margin: 3.7rem 1rem;
    background-color: $white;
    border: none;
  }
  &--small {
    padding: 1.25rem 0;
    min-width: 11.5rem;
  }
  &--big {
    padding: 1.25rem 0;
    min-width: 13rem;
  }
  &--bigger {
    padding: 1.25rem 0;
    min-width: 17rem;
  }
}
