.btn {
  font-size: 1.44rem;
  border-radius: 0.3rem;
  border: 0.1rem solid $tia-maria;
  padding: 1.3rem 3.2rem;
  &--primary {
    background-color: $tia-maria;
    color: $white;
    &:hover {
      background-color: $white;
      color: $tia-maria;
    }
  }
  &--invert {
    background-color: $white;
    color: $tia-maria;
    &:hover {
      background-color: $tia-maria;
      color: $white;
    }
  }

  &--small {
    padding: 1.3rem 2.2rem;
  }
  &--big {
    padding: 1.25rem 4.2rem;
  }
}

.btn--arrow {
  margin: 3.7rem 1rem;
  background-color: $white;
  border: none;
}
