.latestblogs {
  background-color: $white;
  box-shadow: 0px 0px 2rem 0.6rem $shadow-color;
  position: relative;
  z-index: 2;
  margin-top: 17.5rem;
  padding-bottom: 5rem;

  &__heading {
    @include flex(space-between);
    &__btn {
      margin: 5.5rem 7rem 0 0;
    }
    &__text {
      @include font(3.2rem, bold);
      margin: 5.5rem 0 0 7rem;
    }
  }
  &__row {
    @include flex();
    margin-top: 3.5rem;
  }
  &__show-more {
    margin: 4rem 0 0 0;
    text-align: center;
  }

  &__col1 {
    width: 50%;
    @include flex(flex-end);
    padding-left: 5rem;
  }

  &__col2 {
    width: 100%;
    &__heading {
      @include font(2.4rem, bold);
      @include line-clamp(1);
      margin: 2.1rem 0 0 2rem;
    }
    &__details {
      @include font(1.6rem, 0, 0, 2rem);
      @include line-clamp(2);
      color: $grey;
      margin: 2.1rem 0 0 2rem;
    }
    &__btn {
      text-align: right;
      margin: 1.5rem 0 0 0;
    }
    .btn--primary {
      padding: 1.25rem 4.2rem;
    }
  }

  &__col3 {
    width: 50%;
    @include flex(flex-start, flex-start, column);
    @include font(1.5rem, 0, 0, 2.5rem);
    color: $grey;
    padding: 7rem 0 0 0;
  }
  &__vertical-line {
    height: 9rem;
    margin: auto 1rem;
    border-left: 1px solid $shadow-color;
  }
}
