@mixin flex(
  $justify-content: flex-start,
  $align-items: flex-start,
  $direction: row
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font(
  $size: inherit,
  $wt: normal,
  $letter-spacing: normal,
  $line-height: normal
) {
  font-size: $size;
  font-weight: $wt;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin line-clamp($no-of-lines) {
  overflow: hidden;
  -moz-text-align-last: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $no-of-lines;
  -webkit-box-orient: vertical;
}
