.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10rem;
}
%fading {
  .slides {
    display: none;
  }
  .fade {
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}
.hook {
  width: 3.6rem;
  position: absolute;
  top: 45%;
  left: 45%;
}
.hook-props {
  stroke: $hook-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
