//shades
$grey: #808080; //for text
$shadow-color: #d4d4d4; //for shadows
$background-shade: #fbfbfb; //for backgrounds
$background-shade-dark: #f5f6f8;

//essentials
$tia-maria: #f05119; //primary
$white: #fff;
$black: #000; //for headings
