@charset "UTF-8";

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/mixins", "abstracts/utilities";

// 2. Base stuff
@import "base/base", "base/typography";

// 3. Layout-related sections
@import "layout/header", "layout/latest-blogs", "layout/blog-posts",
  "layout/insta-feeds", "layout/footer";

// 4. Components
@import "components/button";
